@media only screen and (min-width: 280px){
    header.first{
        display: none;
    }

    header.second{
        display: block;

        .logo-name{
            margin-top: 10px;
    
            h4:nth-child(1){
                font-size: 12px;
            }
            
            h4:nth-child(2){
                font-size: 14px;
            }
        }
    }

    .get-care-now{
        width: 100%;
        top: 68%;
    }

    .free{
        padding: 0;
        margin: 0;
        .card{
            margin-top: -12rem;
            width: 100%;
            height: 42rem;

            form{
                input{
                    width: 100%;
                }

                select{
                    width: 100%;
                }
            }
        }

        .col-md-4{
            display: none;
        }
    }
    .slider2{
        .image{
            height: 35vh;

            img{
                margin-top: 74px;
                transform: scale(2.2);
            }
        }
        .text{
            top: 30%;
            h2{
                font-size: 18px;
                letter-spacing: 1.5px;
                font-weight: 500;
            }
    
            h1{
                font-size: 35px;
                font-weight: 700;
            }
        }
        
    }
    .all-services{
        .model{
            height: 35rem;

            form{
                display: none;
            }
        }
        .gallery-top {
            height: 14rem;
            width: 100%;
        }

    }

}



// @media only screen and (min-width: 375px){
//     header.first{
//         display: none;
//     }

//     header.second{
//         display: block;
//     }

//     #container{
//         #slider{
//             .slid{
//                 .line{
//                     width: 100%;
//                 }
//             }
//         }
//     }

    

//     .get-care-now{
//         width: 100%;
//         top: 68%;
//     }

//     .about-us{
//         margin-top: 8rem;

//         .desc{
//             margin-top: 3rem;
//         }

//     }

//     .our-services{
//         margin-top: 4rem;

//         .desc{
//             margin-top: 1.2rem;
//             margin-bottom: 0rem;
//         }
//     }

//     .our-commitment{
//         .desc{
//             margin-bottom: 0;
//         }
//     }

//     .free{
//         padding: 0;
//         margin: 0;
//         .card{
//             margin-top: -12rem;
//             width: 100%;
//             height: 39rem;
//         }
//         .col-md-4{
//             display: none;
//         }
//     }

//     .nurse-care{
//         margin-top: 5rem;
//         margin-bottom: 0;
//     }
//     .slider2{
//         .image{
//             height: 45vh;

//             img{
//                 margin-top: 100px;
//                 transform: scale(2.7);
//             }
//         }
//         .text{
//             top: 30%;
//             h2{
//                 font-size: 16px;
//                 letter-spacing: 1.5px;
//                 font-weight: 500;
//             }
    
//             h1{
//                 line-height: 3rem;
//                 font-size: 35px;
//                 font-weight: 700;
//             }
//         }
        
//     }
// }


@media only screen and (min-width: 411px){
    header.first{
        display: none;
    }

    header.second{
        display: block;
    }

    #container{
        #slider{
            .slid{
                .line{
                    width: 100%;
                }
            }
        }
    }

    

    .get-care-now{
        width: 100%;
        top: 68%;
    }

    .about-us{
        margin-top: 8rem;

        .desc{
            margin-top: 3rem;
        }

    }

    .our-services{
        margin-top: 4rem;

        .desc{
            margin-top: 1.2rem;
            margin-bottom: 0rem;
        }
    }

    .our-commitment{
        .desc{
            margin-bottom: 0;
        }
    }

    .free{
        padding: 0;
        margin: 0;
        .card{
            margin-top: -12rem;
            width: 100%;
            height: 39rem;
        }
        .col-md-4{
            display: none;
        }
    }

    .nurse-care{
        margin-top: 5rem;
        margin-bottom: 0;
    }
    .slider2{
        .image{
            height: 45vh;

            img{
                margin-top: 110px;
                transform: scale(2.6);
            }
        }
        .text{
            top: 30%;
            h2{
                font-size: 16px;
                letter-spacing: 1.5px;
                font-weight: 500;
            }
    
            h1{
                line-height: 3rem;
                font-size: 35px;
                font-weight: 700;
            }
        }
        
    }
}

@media only screen and (width: 768px){
    .con{
        width: 100%;
        height: 16vh;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px){
    header.first{
        display: none;
    }

    header.second{
        display: block;
    }

    #container{
        #slider{
            .slid{
                .line{
                    width: 70%;
                }
            }
        }
    }

    .get-care-now{
        width: 100%;
        top: 88%;
    }

    .about-us{
        margin-top: 6rem;

        img{
            margin-top: 8rem;
        }
    }

    .free{

        .card{
            height: 28rem;
            width: 100%;

            .image{
                height: 28rem;

                img{
                    transform: scale(3.3);
                }
            }

            form{
                input{
                    width: 100%;
                }

                select{
                    width: 100%;
                }
            }
        }

        .col-md-4{
            display: block;
        }
    }

    .nurse-care{
        margin-bottom: 4rem;

        .desc{
            padding: 2rem;
        }

        .image{
            margin-top: 4rem;
        }
        .para{
            height: 20rem;
            overflow: auto;
        }
    }
    .all-services{
        .model{
            height: 55rem;

            form{
                display: block;
            }
        }
        .gallery-top {
            height: 24rem;
            width: 100%;
        }

    }
}

@media only screen and (min-width: 1024px){
    header.first{
        display: block;

        nav{
            height: 6vh;
        }

        nav.sticky{
            height: 6vh;
        }
    }

    header.second{
        display: none;
    }

    #container{
        #slider{
            .slid{
                .line{
                    width: 50%;
                }
            }
        }
    }

    .get-care-now{
        top: 82%;
        width: 100%;
    }

    .about-us{
        margin-top: 8rem;

        .desc{
            margin-top: 3rem;
        }

    }

    .free{
        .card{
            margin-top: -12rem;
            width: 100%;
            height: 28rem;

            .image{
                height: 28rem;
    
                img{
                    margin-top: 7rem;
                    width: 100%;
                    transform: scale(2.2);
                }
            }

            form{

                input{
                    width: 100%;
                }

                select{
                    width: 100%;
                }
            }
        }
        .col-md-4{
            display: block;
        }
    }

    .nurse-care{
        .desc{
            padding-top: 4rem;

            .para{
                height: auto;
                overflow: visible;
            }
        }
    }

    .slider2{
        .image{
            height: 40vh;

            img{
                margin-top: 100px;
                transform: scale(1.4);
            }
        }
        .text{
            top: 25%;
            h2{
                font-size: 18px;
                letter-spacing: 1.5px;
                font-weight: 500;
            }
    
            h1{
                line-height: 3rem;
                font-size: 40px;
                font-weight: 700;
            }
        }
        
    }
    .all-services{
        .model{
            height: 45rem;

            form{
                display: block;
            }
        }
        .gallery-top {
            height: 24rem;
            width: 100%;
        }

    }
}

@media only screen and (min-width: 1280px){
    header.first{
        margin: 3rem 0;
        display: block;

        nav{
            height: 10vh;
        }

        nav.sticky{
            height: 10vh;
        }
    }

    header.second{
        display: none;
    }

    .get-care-now{
        top: 85%;
        width: 100%;
    }

    .about-us{
        img{
            margin: 0;
        }
    }

    .free{
        .card{
            width: 100%;
            height: 29rem;
    
            .image{
                height: 29rem;
    
                img{
                    margin-top: 7rem;
                    width: 100%;
                    transform: scale(2);
                }
            }

            form{
                text-align: left;
                margin: 3rem 1rem;
    
                input{
                    width: 100%;
                }

                select{
                    width: 100%;
                }
            }
        }
        .col-md-4{
            display: block;
        }
    }

    .nurse-care{
        .desc{
            padding: 4rem;

            .para{
                height: auto;
                overflow: visible;
            }
        }
    }

    .slider2{
        .image{
            height: 60vh;
    
            img{
                margin: 0;
                transform: scale(1.2);
                opacity: 70%;
                width: 100%;
            }
        }
        .text{
            top: 40%;
    
            h2{
                font-size: 18px;
                font-weight: 500;
            }
    
            h1{
                font-size: 45px;
                font-weight: 700;
            }
        }
    }

    .all-services{
        .model{
            height: 33rem;

            form{
                display: block;
            }
        }
        .gallery-top {
            height: 24rem;
            width: 100%;
        }

    }
    
}

@media only screen and (min-width: 1920px){
    header.first{
        margin: 3rem 0;
        display: block;

        nav{
            height: 5vh;
        }

        nav.sticky{
            height: 5vh;
        }
    }

    header.second{
        display: none;
    }

    .get-care-now{
        top: 85%;
    }

    .slider2{
        .image{
            height: 65vh;
    
            img{
                margin: 0;
                transform: scale(1.2);
                opacity: 70%;
                width: 100%;
            }
        }
        .text{
            top: 40%;
    
            h2{
                font-size: 18px;
                font-weight: 500;
            }
    
            h1{
                font-size: 45px;
                font-weight: 700;
            }
        }
    }

    .all-services{
        .model{
            height: 55rem;

            form{
                display: none;
            }
        }
        .gallery-top {
            height: 24rem;
            width: 100%;
        }

    }
}